{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock style %}

{% block content %}

    <main class="single-pages">
        <section class="video-item flex">
            <div class="left">
                <div class="left-content">
                    {% if video.image %}
                        <video controls poster="{{ video.image.url }}">
                    {% else %}
                        <video controls poster="images/1.jpg">
                    {% endif %}
                    <source src="{{ video.video.url }}" type="video/mp4">
                    </video>

                    <div class="tag">
                        <label class="tags-content" for="">{% for tag in video.tags.all %}
                            <a href="{% url 'tags_videos' tag.slug %}">
                                #{{tag.name}}
                            </a>
                        {% endfor %}
                        </label>
                        <p>{{ video.title }}</p>
                    </div>

                    <div class="view flex2 border-bottom">
                        <div class="view-text">
                            <span>{{ video.views }} Views</span>
                        </div>

                        <div class="flex">
                            <div class="icon">
                                <button id="like-btn" class="like-btn" onclick="addLike()"><i class="fa fa-thumbs-up"></i></button>
                                <label><span id="like-count"></span></label>
                            </div>

{#                            <div class="icon">#}
{#                                <a href=""><i class="fa fa-thumbs-down"></i></a>#}
{#                                <label>Dislike</label>#}
{#                            </div>#}
{##}
{#                            <div class="icon">#}
{#                                <a href=""><i class="fa fa-share"></i></a>#}
{#                                <label>Share</label>#}
{#                            </div>#}
{##}
{#                            <div class="icon">#}
{#                                <a href=""><i class="fa fa-scissors"></i></a>#}
{#                                <label>Clip</label>#}
{#                            </div>#}

                            <div class="icon">
                                <button class="save-btn" id="save-btn" onclick="switchSaved()">{% if video in request.user.profile.saved_videos.all %}<i class="fa fa-bookmark"></i>{% else %}<i class="fa-regular fa-bookmark"></i>{% endif %}</button>
                                <label>Save</label>
                            </div>

                            {% if video.user == request.user %}
                                <div class="icon">
                                    <a href="{% url 'videos.edit' video.id %}">
                                        <i class="fa fa-edit"></i></a>
                                    <label>Edit</label>
                                </div>
                            {% endif %}

                            <div class="icon">
                                <a href=""><i class="fa fa-ellipsis"></i></a>
                                <label>...</label>
                            </div>
                        </div>
                    </div>

                    <div class="details flex border-bottom">
                        <!--                <div class="details flex">-->
                        <div class="img">
                            {% if video.user %}
                                <a href="{% url 'channels.show' video.user.channel.id %}"><img src="{{ video.user.channel.banner.url }}" alt="video.user.channel.channel_name image"></a>
                            {% else %}
                                <img src="{% static 'images/default.png' %}" alt="author profile">
                            {% endif %}
                        </div>
                        <div class="heading">
                            <h4>{{ video.user.channel.channel_name }}
                                {% if video.user.channel.verified %}
                                    <small>
                                        <i class="fas fa-check-circle"></i>
                                    </small>
                                {% endif %}</h4>
                            <span id="sub-count"></span><span> Subscribers</span>

                            <h5>{{ video.description }}</h5>
                            <span><i class="fa fa-caret-down"></i> show more</span>
                        </div>
                        <div>
                            {% if user in video.user.channel.subscribers.all %}
                                <button id="subscribe-btn" onclick="switchSub()" class="subscribe-btn unsubscribe-btn">Unsubscribe</button>
                            {% else %}
                                <button id="subscribe-btn" onclick="switchSub()" class="subscribe-btn ">Subscribe</button>
                            {% endif %}
                        </div>
                    </div>

                    <hr class="mid-hr">

                    <div class="comments">
                        <div class="heading flex">
                            <h4>{{ comments.count }} Comments</h4>
                            <h4><i class="fa fa-list-ul"></i><label>Sort By</label></h4>
                        </div>
                    </div>
                    <!--                //TODO:CLEAN UP HERE-->
                    <div class="details comment-self flex">
                        <div class="img">
                            <img src="{% static 'images/default-welcomer.png' %}" alt="commenter profile">
                        </div>
                        {% if request.user.is_authenticated %}
                            <form action="" method="POST" style="width: 100%" id="comment_form">
                                {% csrf_token %}
                                <div class="heading flex">
                                    <input type="hidden" value="{{ video.id }}" id="id" name="id">
                                    <input type="text" placeholder="Add A Comment" name="comment" id="comment">
                                    <button><i class="material-icons">send</i></button>
                                </div>
                            </form>
                        {% else %}
                            <a href="{% url 'auth.login' %}">Please Login To Sending Comment</a>
                        {% endif %}
                    </div>
                    <div class="comments-wrapper" id="comments-wrapper">
                        {% for comment in comments %}
                            <div class="comment-trey">
                                <div class="details-comments">
                                    <div class="details flex">
                                        <div class="img">
                                            <img src="{{ comment.user.image.url }}">
                                        </div>
                                        <div class="heading">
                                            <h4>
                                                <b>{{ comment.user.username|title }}</b>
                                                <span>{{ comment.date|timesince }} ago</span>
                                            </h4>
                                            <p>{{ comment.comment }}</p>
                                            <div class="comment-like flex">
                                                <div class="icon">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <label><small>5</small></label>
                                                </div>

                                                <div class="icon">
                                                    <i class="fa fa-thumbs-down"></i>
                                                    <label><small>Dislike</small></label>
                                                </div>

                                                <div class="icon">
                                                    <label><a href=""><small>Reply</small></a></label>
                                                </div>

                                                {% if request.user == comment.user %}
                                                    <div class="icon">
                                                        <label><button data-comment-id={{ comment.id }}><small>Edit</small></button></label>
                                                    </div>
                                                    <div class="icon">
                                                        <label><button data-comment-id="{{ comment.id }}" style="color: red" class="btn-del"><small>Delete</small></button></label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reply">
                                    <label class="tags"><i class="fa fa-caret-up"></i> Hide Reply</label>
                                    <div class="reply-details flex">
                                        <div class="img">
                                            <img src="images/default.png">
                                        </div>
                                        <div class="heading">
                                            <h4><label>Mahdi</label><span>16 Month ago</span></h4>
                                            <p>Nice!</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
            <div class="right">
                <div class="right-content">
                    <button class="chat">Show Chat Reply</button>
                    <div class="tags"> <!-- TODO: Class With tags Name Exists many Times => its Should Be Clean Up-->
                        <label for="" class="tags-bg">All</label>
                        <label for="" class="tags-bg">Web Design</label>
                        <label for="" class="tags-bg">Frontend</label>
                        <label for="" class="tags-bg">HTML</label>
                    </div>
                    <!-- TODO: Here So maybe Become Better Clan-->
                    {%  if similar_videos %}
                        {% for video in similar_videos %}
                            <div class="video-sidebar video-items flex">
                        <a href="">
                            <img src="{{ video.image.url }}" alt="">
                        </a>
                        <div class="details">
                            <p>{{ video.title }}</p>
                            <span>{{ video.user.channel.channel_name }} <i class="fa fa-check-circle"></i></span>
                            <span>{{ video.views }} Views . {{ video.date | timesince}} Ago</span>
                        </div>
                    </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript">
        // Sending Comment Form
        $(document).on("submit","#comment_form",function (e){
            e.preventDefault()
            let comment = $("#comment").val()

            $.ajax({
                type: "POST",
                url: "{% url 'videos.send.comment' %}",
                data: {
                    video_id: $("#id").val(),
                    comment: comment,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                    {#csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value#}
                },
                success: function (message){
                    console.log(message)

                    let comments_html =
                        '<div class="comment-trey">\
                        <div class="details-comments">\
                           <div class="details flex">\
                        <div class="img">\
                        <img src="{{ request.user.image.url }}">\
                    </div>\
                <div class="heading">\
                    <h4>\
                        <b>{{ request.user.username|title }}</b>\
                        <span>{% now "H:i" %}</span>\
                    </h4>\
                    <p>'+ comment +'</p>\
                    <div class="comment-like flex">\
                        <div class="icon">\
                            <i class="fa fa-thumbs-up"></i>\
                            <label><small>5</small></label>\
                        </div>\
                        <div class="icon">\
                            <i class="fa fa-thumbs-down"></i>\
                            <label><small>Dislike</small></label>\
                        </div>\
                        <div class="icon">\
                            <label><a href=""><small>Reply</small></a></label>\
                        </div>\
                    </div>\
                </div>\
            </div>\
            </div>\
                <div class="reply">\
                    <label class="tags"><i class="fa fa-caret-up"></i> Hide Reply</label>\
                    <div class="reply-details flex">\
                        <div class="img">\
                            <img src="images/default.png">\
                        </div>\
                        <div class="heading">\
                            <h4><label>Mahdi</label><span>16 Month ago</span></h4>\
                            <p>Nice!</p>\
                        </div>\
                    </div>\
                </div>\
                    <hr>\
                </div>\
                '

                    $("#comments-wrapper").prepend(comments_html)
                    $("#comment").val("")
                },
                error: function (error){
                    console.log(error)
                }
            })
        })

        //Deleting a Comment
        $(".comments-wrapper").on("click",".btn-del",function (){
            let comment_id = $(this).attr("data-comment-id")
            let mythis = $(this)
            $.ajax({
                method: "POST",
                url: "{% url 'videos.delete.comment' %}",
                data: {comment_id : comment_id},
                success : function (message) {
                    console.log(message)
                    if (message.success === true){
                        mythis.closest(".comment-trey").fadeOut();
                    }
                    else{
                        console.log("Somthing Wrongs In Deleting Comment")
                        alert("Somthing Wrongs In Deleting Comment")
                    }
                },
                error: function (error){
                    console.log(error)
                }
            })
        })

    </script>
    <!-- Subscribers Featuers -->
    <script>
        let sub_counter = document.getElementById("sub-count")
        let sub_button = document.getElementById("subscribe-btn")
        let subscriber_added = []

        function switchSub(){
            axios.get('{% url 'channels.add_sub' video.user.channel.id %}')
                .then(response => {
                    this.response = response.data
                    sub_button.innerHTML = this.response
                    loadSub()
                    sub_button.classList.toggle("unsubscribe-btn")

                })
        }

        function loadSub(){
            axios.get('{% url 'channels.load_subs' video.user.channel.id %}')
                .then(response => {
                    this.response = response.data
                    subscriber_added = this.response
                    console.log(this.response)
                    sub_counter.innerHTML = subscriber_added.length
                })
        }
        window.onload = loadSub();
    </script>
    <!-- Likes Featuers -->
    <script>
        let likes_counter = document.getElementById("like-count")
        let like_button = document.getElementById("like-btn")
        let likes_added = []

        function addLike(){
            axios.get('{% url 'videos.add-like' video.id %}')
                .then(like_response => {
                    this.like_response = like_response.data
                    like_button.innerHTML = this.like_response
                    loadLike()
                })
        }

        function loadLike(){
            axios.get('{% url 'videos.load-likes' video.id %}')
                .then(like_response => {
                    this.like_response = like_response.data
                    likes_added = this.like_response

                    likes_counter.innerHTML = likes_added.length
                })
        }

        window.onload = loadLike();
    </script>
    <!-- Likes Featuers -->
    <script>
        {#let saved_counter = document.getElementById("like-count")#}
        let save_button = document.getElementById("save-btn")
        {#let saved_added = []#}

        function switchSaved(){
            axios.get("{% url 'videos.add-to-saved' video.id %}")
                .then(response => {
                    this.response = response.data
                    save_button.innerHTML = this.response
                    {#loadLike()#}
                })
        }

        {#function loadSavedLength(){#}
        {#    axios.get('{% url 'videos.load-likes' video.id %}')#}
        {#        .then(like_response => {#}
        {#            this.like_response = like_response.data#}
        {#            likes_added = this.like_response#}
        {##}
        {#            likes_counter.innerHTML = likes_added.length#}
        {#        })#}
        {# } #}

        {#window.onload = loadSaved();#}
    </script>

{% endblock content %}

