{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/channels/channels.css' %}">
{% endblock style %}

{% block content %}
    <div class="mainBody">
        <!-- Sidebar Starts -->
        {% include 'partials/sidebar.html' %}
        <!-- Sidebar Ends -->

        <!-- Video Section Starts -->
        <div class="videos">
            {% include 'channels/partials/channel-header.html' %}
            {% if video_features %}
                <div class="channel-intro-video">
                    <div class="intro-video">
                        <video controls>
                            <source src="{{ video_features.video.url }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="intro-contents">
                        <h3>{{ video_features.title|truncatechars:100 }}</h3>
                        <small class="small">{{ video_features.views }} view{{ video_features.views|pluralize }}- {{ video_features.date|timesince }} ago</small>
                        <p>{{ video_features.description |truncatechars:100 }}</p>

                        <small>Read More</small>
                    </div>
                </div>
            {% endif %}
            <hr>
            <br>
            <div class="popular-video flex">
                <h3>Popular uploads</h3>
                <div class="flex play-all">
                    <i class="material-icons">play_arrow</i>
                    <a href="">Play All</a>
                </div>
            </div>
            <br>
            <div class="videos__container">
                {% for video in videos %}
                    <!-- Single Video Starts Here -->
                    <div class="video">
                        <div class="video__thumbnail">
                            <a href="{% url 'videos.show' video.id %}"><img src="{{ video.image.url }}" alt=""></a>
                        </div>
                        <div class="video__details">
                            <div class="author">
                                <a href="{% url 'channels.show' channel.id %}"><img src="{{ channel.banner.url }}" alt=""></a>
                            </div>
                            <div class="title">
                                <a href="{% url 'videos.show' video.id %}"><h3>{{ video.title | truncatechars:35}}</h3></a>
                                <a href=""><small>{{ channel.channel_name }} {% if channel.verified %}<i class="fas fa-check-circle"></i>{% endif %}</small></a>
                                <span><small>{{ video.views }} View{{ video.views|pluralize }} . {{ video.date|timesince }} Ago</small></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% include 'channels/partials/subscribe-axios.html' %}
{% endblock content %}
